<div id="<%= dom_id purpose %>">
  <p>
    <strong>Customer:</strong>
    <%= purpose.customer_id %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= purpose.booking_id %>
  </p>

  <p>
    <strong>Their purpose:</strong>
    <%= purpose.their_purpose %>
  </p>

</div>
